html {
    box-sizing: content-box;
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
    background-size: cover;
}
body {
    max-width: 1283px;
    max-height: 1282px;
    margin: 63px 100px 30px;
    background-color: rgba(0, 0, 0, 0.0001);
}
.header_container {
    display: inline-block;
    width: 1280px;
    text-align: center;
}
.header__title {
    display: flex;
    position: relative;
    margin-top: 63px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    align-items: center;
    text-align: left;
}
.header_container span:first-of-type {
    color: cornflowerblue;
    position: static;
}
.header__menu {
    display: flex;
    position: relative;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);

    background-color: rgba(53, 68, 79, 1);
}
.header__menu:before {
    position: absolute;
    border-left: 160px solid #35444F;
    align-items: center;
}
.header__menu_item {
    border-left: 1px solid inherit;
    border-right: 1px solid inherit;
}
.header__menu_item:hover {
    border-left-color: rgba(255, 255, 255, 1);
    border-right-color: rgba(255, 255, 255, 1);
    background: #222F3A;
    transition-duration: 1s;
}
.header__menu_item-FP {
    display: flex;
    margin-left: 160px;
    width: 330px;
    position: relative;
}
.header__menu_item-FP::before {
    position: absolute;
    content: "";
    border-right: 1px solid #FFFFFF;
    height: 69px;
    align-items: center;
    margin-top: 0;
    }
.header__menu_item-Ramda {
    display: flex;
    width: 153px;
    position: relative;
}
.header__menu_item-Ramda::before {
    position: absolute;
    content: "";
    border-right: 1px solid #FFFFFF;
    height: 69px;
    margin-top: 0;
}
.header__menu_item-FLS {
    display: flex;
    width: 284px;
    position: relative;
}
.header__menu_item-FLS::before {
    position: absolute;
    content: "";
    border-right: 1px solid #FFFFFF;
    align-items: center;
    height: 69px;
    margin-top: 0;
}
.header__menu_item-node {
    display: flex;
    width: 221px;
    margin-right: 40px;
    position: relative;
}
.header__menu_item-node::before {
    position: absolute;
    content: "";
    border-right: 1px solid #FFFFFF;
    align-items: center;
    height: 69px;
    margin-top: 0;
}
.header__menu_item-node::after {
    position: absolute;
    content: "";
    border-left: 1px solid #FFFFFF;
    height: 69px;
    margin-left: 221px;
    margin-top: 0;
}
.header__links {
    display: block;
    line-height: 69px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    position: center;
}
.aside__container-menu {
    display: inline-block;
    width: 344px;
    height: 390px;
    margin-top: 48px;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    text-align: left;
    float: left;
    position: relative;
    color: #495863;
}
.aside__container-menu-item {
    display: flex;
    width: 298px;
    height: 78px;
    padding-left: 44px;
    align-items: center;
    border: 1px solid initial;
}
.aside__container-menu-item:hover {
    background: #DBDBDB;
}
.aside__links {
    display: block;
    line-height: 78px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    position: center;
}
.aside__links:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    padding-left: 40px;
    transition-duration: 1s;

}
.main__container {
    display: inline-block;
    text-align: left;
    width: 885px;
    height: 832px;
    margin-left: 396px;
    margin-top: -448px;
    margin-right: 100px;
}
.main__picture {
    text-align: center;
    position: sticky;
    margin-bottom: 37px;
    margin-top: 48px;
    border: 1px solid #000000;
}
.main__picture-goat {
    position: static;
    height: 381px;
    width: 320px;
    margin-top: 75px;
    margin-bottom: 43px;
    padding-bottom: 20px;
    transition: transform 3s;
}
.main__picture-goat:hover {
    height: 391px;
    width: 330px;
    padding-bottom: 10px;
    transition: transform 3s;
    transform: scale(1.2,1.2);

}
.main__text-first {
    margin-top: 37px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.main__text-second {
    margin-top: 34px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer__container {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    margin: 51px 0 30px;
}

.footer__list-menu {
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    padding-left: 30px;
    color: #010101;
}
.footer__links:hover {
    padding-bottom: 10px;
    text-decoration: underline solid;
    text-underline-position: under;
    text-decoration-color: cornflowerblue;
    color: cornflowerblue;
    cursor: url('../images/pointer.png') 0 0, pointer;
}
.footer__list-menu:first-child {
    padding-left: 40px;
}
.footer__list-menu:last-child {
    display: flex;
    position: static;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    width: 190px;
    height: 69px;
    padding-left: 135px;
    color: #010101;
}
.footer__copyright {
    display: inline;
    position: static;
    font-size: 24px;
    line-height: 24px;
    text-decoration-color: #010101;
}
.footer__copyright::before {
    content: '\A9';
    position: static;
    padding-left: 10px;
    padding-right: 10px;
    color: #010101;
}






